@using MudBlazor
@using NewsApp.UI.Components.Pages
@inherits LayoutComponentBase  

@inject NavigationManager Navigation


<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />

<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="1" Class="appbar-gradient">
        <a href="" class="logo-link">
            <img src="Group 16.png" alt="News Logo" class="logo-image" />
        </a>
        <MudSpacer/>


        <div class="d-flex justify-content-end">
            <MudNavLink Icon="@Icons.Material.Filled.Person" Href="/NewUserInfo" Match="NavLinkMatch.All"></MudNavLink>
        </div>


    </MudAppBar>
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>

<style>
.appbar-gradient {
        background-color: #229981; 
        color: white;
}


.logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}
.logo-image {
    height: 32px; /* Настройте размер под ваши нужды */
    width: auto;
    margin-right: 8px;
}

</style>