@using MudBlazor
@using NewsApp.UI.Components.Pages
@inherits LayoutComponentBase  

@inject NavigationManager Navigation


<MudThemeProvider />
<MudPopoverProvider />

<MudDialogProvider />

<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="1" Class="appbar-gradient" >
        <MudText Typo="Typo.h5" Class="ml-3">News</MudText>
        <MudSpacer />


        <div class="d-flex justify-content-end">
            <MudNavLink Icon="@Icons.Material.Filled.Person" Href="/UserInfo" Match="NavLinkMatch.All"></MudNavLink>
        </div>


    </MudAppBar>
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>

<style>
.appbar-gradient {
        background-color: #229981; 
        color: white;
}
</style>