

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.nav-items {
    gap: 1rem;
    display: flex;
}

.auth-items {
    gap: 1rem;
    display: flex;
    align-items: center;
    margin-left: auto; /* Pushes it to the end of the navbar */
}

.nav-link {
    color: white;
    font-size: 1rem;
    text-decoration: none;
    padding: 0.5rem 0.75rem;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
}

.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
}

.navbar-dark .nav-link.active {
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
